*{
    font-size: 15px;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}

.reverse-room-hotel{
    height: 95px;
    background-color: aquamarine;
    display: flex;
    padding-left: 200px;
}

.reverse-room-hotel .text-content{
    height: 100%;
    width: 130px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.text-content h3{
    height: 100%;
    text-align: center;
    margin: 0;
}

label{
    display: inline-block;
    margin-bottom: 10px;
}

.item{
    height: 100%;
    width: 150px;
    margin-right: 30px;
}

.component{
    height: 100%;
    display: flex;
    width: 950px;
    padding-top: 7px
}

.component input,select{
    height: 58px;
    width: 137px;
}

.component .submit{
    display: flex;
    height: 45px;
    width: 104px;
    background-color: #F79F81;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.component .submit:hover{
    background-color: chartreuse;
    color: #FFF;
}